{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment Detail{% endblock title %}
{% block content %}


<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Appointment</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Appointment <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter"
    style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <h1>Hi {{name}}</h1>
        <h3>Your appointment details :</h3>
        <h4>Date of appointment : {{date}}</h4>
        <h4>Time of appointment : {{time}}</h4>
        <h4>Your contact number : {{phone_number}}</h4>
    </div>
</section>

{% endblock content %}